<h1> Seminario de Lenguaje - Python </h1>

Alumno: Juan Sirai <br>
Legajo: 20196/3

<img src="img/cat-typing.gif">

**Consigna:**

Con la información de los archivos de texto que se encuentran disponibles en el curso: <br>
nombres_1<br>
nombres_2<br>
* Indique los nombres que se encuentran en ambos. Nota: pruebe utilizando list comprehension.
* Genere tres variables con la lista de notas y nombres que se incluyen en los archivos: nombres_1, eval1.txt y eval2.txt e imprima con formato los nombres de los estudiantes con las correspondientes nota y la suma de ambas como se ve en la imagen

<img src="img/ejercicio8.png">

<h2> 🎯 Lectura y apertura de archivos </h2>
    
Con el método open() que nos provee python, realizaremos la apertura de los arhivos y los guardaremos en respectivas listas.

Dado que en los txt se almacena un espacio en blanco al final de todos los archivos, en nuestras listas omitiremos almacenar dicho espacio en blanco, mediante la técnica de slice [:-1]

In [40]:
# Definimos una pequeña función para limpiar el txt de nombres, de aquellos caracteres indeseados.

diccionario = {
# el diccionario guarda como claves los caracteres que quiero reemplazar, y como valores su correspondiente
# reemplazo
    "'": "",
    ",": "",
    " ": "",
    "Á": "A",
    "É": "E",
    "Í": "I",
    "Ó": "O",
    "Ú": "U"
}

def clean(diccionario, texto):
    for i, j in diccionario.items():
        texto = texto.replace(i,j)
    return texto

In [41]:
# Lista de estudiantes 1

with open('data/nombres_1.txt', 'r',encoding="utf-8") as f:
    lista_estudiantes1 = clean(diccionario, f.read().upper()).split('\n')[:-1]
    
# Lista de estudiantes 2
with open('data/nombres_2.txt', 'r', encoding="utf-8") as f:
    lista_estudiantes2 = clean(diccionario, f.read().upper()).split('\n')[:-1]

Mostramos en pantalla las listas generadas en el paso anterior

In [42]:
print(f"Lista de estudiantes 1: (la misma contiene {len(lista_estudiantes1)} elementos) \n")
print(lista_estudiantes1)

print(f"\nLista de estudiantes 2: (la misma contiene {len(lista_estudiantes2)} elementos)\n")
print(lista_estudiantes2)

Lista de estudiantes 1: (la misma contiene 47 elementos)

['AGUSTIN', 'ALAN', 'ANDRES', 'ARIADNA', 'BAUTISTA', 'CAROLINA', 'CESAR', 'DAVID', 'DIEGO', 'DOLORES', 'DYLAN', 'ELIANA', 'EMANUEL', 'FABIAN', 'FACUNDO', 'FACUNDO', 'FEDERICO', 'FEDERICO', 'GONZALO', 'GREGORIO', 'IGNACIO', 'JONATHAN', 'JONATHAN', 'JORGE', 'JOSE', 'JUAN', 'JUAN', 'JUAN', 'JULIAN', 'JULIETA', 'LAUTARO', 'LEONEL', 'LUIS', 'LUIS', 'MARCOS', 'MARIA', 'MATEO', 'MATIAS', 'NICOLAS', 'NICOLAS', 'NOELIA', 'PABLO', 'PRISCILA', 'TOMAS', 'TOMAS', 'ULISES', 'YANINA']

Lista de estudiantes 2: (la misma contiene 58 elementos)

['AGUSTIN', 'AGUSTIN', 'AGUSTIN', 'AILEN', 'ALFREDO', 'AMALIA', 'ARIANA', 'BAUTISTA', 'BRAIAN', 'CARLA', 'CESAR', 'DANIEL', 'DIEGO', 'ELIANA', 'FACUNDO', 'FACUNDO', 'FACUNDO', 'FACUNDO', 'FEDERICO', 'FEDERICO', 'FLAVIA', 'FRANCISCO', 'GERMAN', 'GUIDO', 'GUSTAVO', 'HILARIO', 'IGNACIO', 'IVAN', 'JIMMY', 'JOAQUIN', 'JOSE', 'JOSUE', 'JUAN', 'JUAN', 'LAURA', 'LAURA', 'LAUTARO', 'LAUTARO', 'LUDMILA', 'MARCOS', 'MARCOS', 'MARIANELA', 'MARTIN', 'MATEO', 'MATEO', 'MATIAS', 'MAURO', 'MAXIMILIANO', 'NESTOR', 'NICOLAS', 'PEDRO', 'RAMIRO', 'SOFIA', 'TOBIAS', 'TOMAS', 'TOMAS', 'ULISES', 'YANINA']

----------------------------------------------------------------------------------------
<h2> 🎯 Indique los nombres que se encuentran en ambos archivos </h2>

Para desarrollar este inciso, lo que haremos será quedarnos con los **valores unicos** de una de las listas, y mediante **list comprehension** generar una lista nueva para aquellos nombres que se encuentran en ambas.
<br>
¿Cómo generamos la lista única?
<br>
* Primero creamos un diccionario, usando los items de la lista como keys: ```dict.fromkeys(lista)```
* Con el paso anterior, los duplicados se eliminarán automáticamente, ya que los diccionarios no pueden tener claves duplicadas.
* El último paso es volver a convertir ese diccionario en una lista, mediante ```list(diccionario)```

Concatenando los pasos anteriores, tenemos que: <br>

```nueva_lista = list(dict.fromkeys(lista_original))```

In [43]:
lista_unica = list(dict.fromkeys(lista_estudiantes1))
print(lista_unica)

['AGUSTIN', 'ALAN', 'ANDRES', 'ARIADNA', 'BAUTISTA', 'CAROLINA', 'CESAR', 'DAVID', 'DIEGO', 'DOLORES', 'DYLAN', 'ELIANA', 'EMANUEL', 'FABIAN', 'FACUNDO', 'FEDERICO', 'GONZALO', 'GREGORIO', 'IGNACIO', 'JONATHAN', 'JORGE', 'JOSE', 'JUAN', 'JULIAN', 'JULIETA', 'LAUTARO', 'LEONEL', 'LUIS', 'MARCOS', 'MARIA', 'MATEO', 'MATIAS', 'NICOLAS', 'NOELIA', 'PABLO', 'PRISCILA', 'TOMAS', 'ULISES', 'YANINA']

Ahora que tenemos la lista única, solo queda recorrer la misma y comparar dichos valores contra los de la lista 2, para buscar las coincidencias y almacenarlas en una nueva estructura.

In [44]:
nombres_en_ambos = [item for item in lista_unica if item in lista_estudiantes2]

In [45]:
print(nombres_en_ambos)

['AGUSTIN', 'BAUTISTA', 'CESAR', 'DIEGO', 'ELIANA', 'FACUNDO', 'FEDERICO', 'IGNACIO', 'JOSE', 'JUAN', 'LAUTARO', 'MARCOS', 'MATEO', 'MATIAS', 'NICOLAS', 'TOMAS', 'ULISES', 'YANINA']

----------------------------------------------------------------------------------------
<h2> 🎯 Generación del reporte de notas</h2>

Abrimos los archivos de notas

In [46]:
# Lista de notas1

with open('data/eval1.txt', 'r',encoding="utf-8") as f:
    notas1 = clean(diccionario, f.read()).split('\n')[:-1]
    
# Lista de notas2
with open('data/eval2.txt', 'r', encoding="utf-8") as f:
    notas2 = clean(diccionario, f.read()).split('\n')[:-1]

Utilizando list comprehension, convertiremos los elementos de cada una de estas listas a enteros, y luego creamos una tercera lista que contenga la suma de ambas notas

In [47]:
lista_notas1 = [int(nota) for nota in notas1]
lista_notas2 = [int(nota) for nota in notas2]
lista_notas3 = [(n1 + n2) for n1,n2 in zip(lista_notas1,lista_notas2)]

Dado que las 3 listas tienen la misma longitud, y sus elementos guardan una relación posicional entre sí, procederemos a recorrer las 4 listas con un único for loop, utilizando el mismo índice e imprimiendo así el resultado correspondiente

In [66]:
print(f"{'ID':<5}{'Nombre':<20}{'Ev1':<8}{'Ev2':<12}{'Total':<8}")
print("----------------------------------------------------")
for i in range(len(lista_estudiantes1)):
    print(f"{i:<5}{lista_estudiantes1[i]:<20}{lista_notas1[i]:<8}{lista_notas2[i]:<8}\
    {lista_notas3[i]:<8}")

ID   Nombre              Ev1     Ev2         Total
----------------------------------------------------
0    AGUSTIN             81      30          111
1    ALAN                60      95          155
2    ANDRES              72      28          100
3    ARIADNA             24      84          108
4    BAUTISTA            15      84          99
5    CAROLINA            91      43          134
6    CESAR               12      66          78
7    DAVID               70      51          121
8    DIEGO               29      4           33
9    DOLORES             42      11          53
10   DYLAN               16      58          74
11   ELIANA              3       10          13
12   EMANUEL             35      13          48
13   FABIAN              67      34          101
14   FACUNDO             10      96          106
15   FACUNDO             57      71          128
16   FEDERICO            11      86          97
17   FEDERICO            69      37          106
18   GONZALO             12      64          76
19   GREGORIO            77      13          90
20   IGNACIO             13      8           21
21   JONATHAN            86      87          173
22   JONATHAN            48      14          62
23   JORGE               65      14          79
24   JOSE                51      49          100
25   JUAN                41      27          68
26   JUAN                87      55          142
27   JUAN                43      69          112
28   JULIAN              10      77          87
29   JULIETA             87      59          146
30   LAUTARO             91      57          148
31   LEONEL              15      40          55
32   LUIS                44      96          140
33   LUIS                85      24          109
34   MARCOS              73      30          103
35   MARIA               37      73          110
36   MATEO               42      95          137
37   MATIAS              95      19          114
38   NICOLAS             18      47          65
39   NICOLAS             7       15          22
40   NOELIA              74      31          105
41   PABLO               60      39          99
42   PRISCILA            9       15          24
43   TOMAS               65      74          139
44   TOMAS               93      33          126
45   ULISES              63      57          120
46   YANINA              74      10          84

<img src="img/banner1.jpg">